<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{#<!-- my styles -->#}
<link rel="stylesheet" href="{{ url_for('static', filename='resources/css/styles.css') }}">

{#<!-- bootstrap local -->#}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap-5.3.0-dist/css/bootstrap.min.css') }}">

{#<!-- Favicon -->#}
<link rel="apple-touch-icon" sizes="180x180"
     href="{{ url_for('static', filename='resources/img/favicon_package/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32"
     href="{{ url_for('static', filename='resources/img/favicon_package/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16"
     href="{{ url_for('static', filename='resources/img/favicon_package/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='resources/img/favicon_package/site.webmanifest') }}">
<link rel="mask-icon" href="{{ url_for('static', filename='resources/img/favicon_package/safari-pinned-tab.svg') }}"
     color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

{# jquery ui css #}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/js/jquery/jquery-ui-1.13.2/jquery-ui.min.css') }}" />
{# jquery datetimepicker css #}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/js/jquery/datetimepicker-master/build/jquery.datetimepicker.min.css') }}" />
{#<!-- leaflet -->#}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/js/leaflet/leaflet.css') }}" />

