
{#<!-- jquery -->#}
<script src="{{ url_for('static', filename='vendor/js/jquery/3.7.0/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/jquery/jquery-ui-1.13.2/jquery-ui.min.js') }}"></script>

{# jquery datetimepicker #}
<script src="{{ url_for('static', filename='vendor/js/jquery/datetimepicker-master/build/jquery.datetimepicker.full.min.js') }}"></script>

{#<!-- bootstrap local -->#}
<script src="{{ url_for('static', filename='vendor/css/bootstrap-5.3.0-dist/js/bootstrap.min.js') }}"></script>

{#<!-- leaflet -->#}
<script src="{{ url_for('static', filename='vendor/js/leaflet/leaflet.js') }}"></script>

{# hotspots #}
<script src="{{ url_for('static', filename='resources/js/hotspots.js') }}"></script>

